body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
/* styles.css */

form {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 8px;
    font-size: 14px;
    margin-right: 10px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #45a049;
}

div {
    margin: 10px 0;
}

h3 {
    margin: 0;
}

p {
    margin: 5px 0;
}
