.poster {
    background-image: linear-gradient(rgba(7, 23, 47, 0.867) 0%, rgba(7, 23, 47, 0.733) 20%, transparent 50%, rgba(7, 23, 47, 0.733) 67%, rgba(7, 23, 47, 0.867) 100%), url(../Images/mordekaiser.jpg);
}
.frame {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 80%;
    margin: auto;
    gap: 30px;
}
.inside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: .5rem;
    background-color: rgb(14 35 59);
    padding: 2px;
    margin-bottom: 50px;
    transition: transform 0.35s ease-in-out;
    box-shadow: 3px 15px 5px rgb(6, 22, 43);
    max-width: 100%;
}
.inside:hover {
    transform: scale(1.05);
    transition: all 0.35s ease-in-out;
}

.rp1 {
    
    max-height: 175px; 
    border-radius: .5rem;
    
}
.description {
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    margin-top: 20px;
}
.typeaccount {
    color: white;
    font-weight: bold;
    font-weight: 1000;
    margin-top: 25px;
    background-color: rgb(7 23 47);
    border: none;
    border-radius: .5rem;
    padding: 10px 80px 10px 80px;
    
}
.typeaccount1 {
    color: white;
    font-weight: bold;
    font-weight: 1000;
    margin-top: 25px;
    background-color: rgb(7 23 47);
    border: none;
    border-radius: .5rem;
    padding: 10px 60px 10px 60px;
}
.price {
    align-self: flex-start;
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.price-tag{
    height: 20px;
    display: flex;
}
.pricelist {
    display: flex;
    color: white;
    font-weight: bold;
    font-weight: 1000;
    
    background-color: transparent;
    border: none;
  
    
}
.add-item-cart {
    color: white;
    font-weight: bold;
    font-weight: 1000;
    background-color: rgb(7 23 47);
    border: none;
    border-radius: .5rem;
    padding: 10px 50px 10px 50px;
    background: rgb(88, 113, 255);
    margin-bottom: 25px;
    transition: 1s ease;
    cursor: pointer;
}
.add-item-cart:hover {
    background: rgb(178, 110, 255)
    
}
.rpdiscord {
    color: white;
    font-weight: bold;
    font-weight: 1000;
    margin-top: 20px;
    background-color: rgb(7 23 47);
    border: none;
    border-radius: .5rem;
    padding: 10px 30px 10px 30px;
    background: linear-gradient(to right, rgb(88, 113, 255), rgb(178, 110, 255));
    margin-bottom: 25px;
}